.App {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.selected-gist {
  color: #61dafb;
}

.header-div {
  width: 100%;
  background-color: rgb(234, 234, 234);
  padding: 5px 5px 5px 15px;
  height: auto;
  font-size: larger;
  padding: 1%;
}

.gist-component {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid grey;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}

.avatar-block {
  height: 100%;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-wide-block {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.virtualized-list {
  overflow-x: hidden !important;
}

.avatar-image {
  width: 80%;
  height: 80%;
}

.content-div {
  padding: 1%;
}

.filename {
  margin-left: 10px;
}

.footer {
  width: 100%;
  height: 30px;
  margin-top: 10px;
  display: flex;
  flex-direction: row-reverse;
  padding: 0px 20px;
  box-sizing: border-box;
}

.pagination-button {
  margin-left: 5px;
  background-color: rgba(255, 255, 255, 0.674);
  border: 0.5px solid rgba(202, 198, 198, 0.721);
  border-radius: 15%;
  width: 30px;
  height: 30px;
}

.pagination-button:hover {
  cursor: pointer;
}